<p-toast></p-toast>
<div class="h-auto py-4 w-full max-w-2xl bg-[#0F172A] grid place-items-center px-4">

  <div class="w-full max-w-2xl text-center">

    <!-- Logo -->
    <div class="mb-8">
      <div class="mx-auto w-14 h-14 bg-pink-400/20 rounded-full flex items-center justify-center mb-4">
        <span class="text-pink-400 font-bold text-lg">P</span>
      </div>
      <h1 class="text-3xl tracking-widest text-gray-300 font-semibold">
        PROPIFY
      </h1>
    </div>

    <!-- Heading -->
    <div class="flex items-center justify-center gap-3 mb-8 text-gray-300">
      <h2 class="text-lg sm:text-xl font-medium">Set your password</h2>
      <!-- <span class="font-semibold text-white">3</span>
      <span class="text-gray-400">of 4</span> -->
    </div>

    <!-- Form -->
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" class="flex flex-col gap-6">

     
      <app-input-field formControlName="old_password" label="Old Password" placeholder="21234@123" type="password"></app-input-field>
     <app-input-field formControlName="new_password" label="New Password" placeholder="21234@123" type="password"></app-input-field>
     <app-input-field formControlName="confirm_new_password" label="Confirm Password" placeholder="21234@123" type="password"></app-input-field>

      <!-- Continue Button -->
        <div class="w-full rounded-full py-3  text-white bg-gradient-to-r from-blue-600 to-indigo-600">
  <p-button
   
    [loading]="isLoading()"
    [disabled]="isLoading()"
    type="submit"
    styleClass="w-full bg-transparent flex gap-2 border-none text-lg font-medium hover:opacity-90"
  >Continue</p-button>
</div>

    </form>
  </div>

</div>