  <nav class="relative flex items-center justify-between px-4 py-4 md:px-12 bg-[#0f172a] border-b border-slate-800 z-50">
    <div class="flex items-center gap-2">
      <!-- <div class="w-8 h-8 bg-slate-700 rounded-full flex items-center justify-center">🤖</div>
        -->
      <img class="h-10 w-10" src="assets/images/propify-removebg-preview.png" alt="">
      <!-- <span class="font-serif tracking-widest uppercase text-lg text-white">Propify</span> -->
    </div>

    <div class="hidden md:flex items-center gap-4">
      <button class="px-4 py-2 border border-slate-600 text-white rounded-full text-sm font-medium hover:bg-slate-800 transition">Home</button>
      @if(!isAuthenticated()){
      <button routerLink="/sign-in" class="px-4 py-2 border border-slate-600 text-white rounded-full text-sm font-medium hover:bg-slate-800 transition">Sign in</button>
      <button routerLink="/reg-step-1" class="px-6 py-2 border border-slate-600 text-white rounded-full text-sm font-medium hover:bg-slate-800 transition">Register</button>
      }
      <!-- <button *ngIf="isAuthenticated()" class="w-full text-center px-4 py-3 bg-indigo-600 text-white rounded-lg text-sm font-medium hover:bg-indigo-500 transition">{{user()?.email}}</button>
       -->
      <div *ngIf="isAuthenticated()">
      
      <div (click)="openProfile = true " class="w-[100px] rounded-full h-10  bg-blue-600 text-white flex items-center justify-center font-semibold cursor-pointer">
        </div>
      
  
</div>
      <button *ngIf="isAuthenticated()" (click)="logout()" class="w-full text-center px-4 py-3 bg-indigo-600 text-white rounded-lg text-sm font-medium hover:bg-indigo-500 transition">Logout</button>

    </div>

    <button id="mobile-menu-btn" class="md:hidden text-white p-2 focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <div id="mobile-menu" class="hidden absolute top-full left-0 w-full bg-[#0f172a] border-b border-slate-800 p-4 flex-col gap-4 shadow-xl md:hidden">
      <button class="w-full text-left px-4 py-3 border border-slate-600 text-white rounded-lg text-sm font-medium hover:bg-slate-800 transition">Home</button>
      <button class="w-full text-left px-4 py-3 border border-slate-600 text-white rounded-lg text-sm font-medium hover:bg-slate-800 transition">Sign in</button>
      <button class="w-full text-center px-4 py-3 bg-indigo-600 text-white rounded-lg text-sm font-medium hover:bg-indigo-500 transition">Register</button>
      
    </div>
  </nav>




  @if(openProfile){
    <app-popup-backdrop layoutKey="center" [closeOnOutsideClick]="true" (onClose)="closeProfile()">
    <app-profile></app-profile>
    </app-popup-backdrop>
  }