  <div class="grid grid-cols-1  gap-6 mt-6">

      <!-- Left Content -->
      <div class="lg:col-span-2  space-y-6">

        <!-- Key Facts -->
        <div class="bg-slate-800 p-6 mt-7 rounded-xl border border-slate-700">
          <h3 class="font-semibold mb-4">Key Facts</h3>

          <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 text-sm">

            <!-- <div>
              <p class="text-slate-400">Price</p>
              <p>$4500</p>
            </div> -->

          
            <div>
              <p class="text-slate-400">Bathrooms</p>
              <p>{{data?.bathrooms}}</p>
            </div>

            <div>
              <p class="text-slate-400">Built Up Area</p>
              <p>{{data?.builtup_area}}</p>
            </div>

            <div>
              <p class="text-slate-400">Building Grade</p>
              <p>{{data?.building_grade}}</p>
            </div>

            <div>
              <p class="text-slate-400">Commercial Type</p>
              <p>{{data?.commercial_type}}</p>
            </div>
            <div>
              <p class="text-slate-400">Commercial Sub Type</p>
              <p>{{data?.commercial_subtype}}</p>
            </div>
            <div>
              <p class="text-slate-400">floor number</p>
              <p>{{data?.floor_number}}</p>
            </div>
            <div>
              <p class="text-slate-400">Frontage</p>
              <p>{{data?.frontage}}</p>
            </div>
            <div>
              <p class="text-slate-400">Furnishing</p>
              <p>{{data?.furnishing}}</p>
            </div>
            <div>
              <p class="text-slate-400">Furnishing</p>
              <p>{{(data?.has_kitchen)? 'Yes' : 'No'}}</p>
            </div>
            <div>
              <p class="text-slate-400">Useable</p>
              <p>{{data?.useable_area}}</p>
            </div>
            <div>
              <p class="text-slate-400">Ownership</p>
              <p>{{data?.ownership}}</p>
            </div>
            <div>
              <p class="text-slate-400">Parking details</p>
              <p>{{data?.parking_details}}</p>
            </div>
            

          </div>
        </div>
        
        <div class=" flex flex-col w-full gap-4">
        <!-- Description -->
        <div class="bg-slate-800 p-6 rounded-xl border border-slate-700">
          <h3 class="font-semibold mb-3">Description</h3>
          <p class="text-sm text-slate-400 leading-relaxed">
            {{data?.description}}
          </p>
        </div>
       

        </div>

        <!-- Features -->
        <div class="bg-slate-800 p-6 rounded-xl border border-slate-700">
          <h3 class="font-semibold mb-4">Features & Amenities</h3>

          <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 text-sm">
          @for (f of data?.features; track $index) {
            <div>✔ {{f.name}}</div>
          }
          </div>
        </div>

      </div>


      <!-- Right Sidebar -->
      

    </div>